/*No para móviles gal*/
.layout {
  min-height: 100vh;
  color: white;
  background-color: var(--background_simulation);
}
.header {
  color: white;
  background-color: var(--background_header_simulation);
  border-bottom: 1.5px var(--clr_paragraph) solid;
  & > h1 {
    margin: 0;
    font-size: x-large;
    font-weight: bold;
  }
}
.container {
  min-height: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 15px;

  /*queria probar nesting xD   #1f192fb5*/

  & > section {
    background-color: var(--background_canvas);
    border-radius: 10px;
  }

  /*canvas container styles*/
  & > section:first-of-type {
    width: 60%;
    flex: 1;
  }
  /*code container styles*/
  & > section:nth-of-type(2) {
    width: 40%;
    max-width: 50%;
    min-width: 30%;
  }
}
section > header{
  background-color: var(--background_canvas_header);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}
section > header > h1 {
  margin: 0;
  padding: .5rem 1rem;
  color: #fff;
}
