:root{
    --background_simulation: #0f0e17;
    --background_header_simulation: #292547;
    --background_canvas:#1f192f;
    --background_button: #292547;
    --background_card: #fffffe;
    --clr_text_button:#fffffe;
    --clr_headlines: #fffffe;
    --clr_paragraph:#a7a9be;
    --clr_tertiary: #e53170;
    --clrsecundary: #f25f4c;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}